body{
    padding-top: 120px;
    text-align: center;
    align-content: center;
    font-size: 16px;
    font-family: 'Cardo', serif;
    padding-bottom: 200px;
    padding-left: 20px;
    padding-right:20px;
    
}

h1{
    font-size: 32px;
    font-family: 'Cardo', serif;
}

h2{
    padding-top: 30px;
    font-size: 20px;
    font-family: 'Cardo', serif;
}


a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: grey;
}


/* Homepage styling*/
.egg{
    padding-top: 80px;


}


.egg a{
    font-style: normal;
    color: black;
    
    
}

@keyframes change{
    0%{background-color: #9dd3dc};
    25%{background-color: #b4dbe0};
    50%{background-color: #cee3e5};
    75%{background-color: #e0e9e8};
    100%{background-color: #f2efeb};
}

.egg a:hover{
    color: #4b9bad;
}

#eggicon{
    margin-top: 15px;
    color: grey;
}

#eggicon:hover{
    color: #4b9bad;
}


/* introscroll page styling*/

.coldland{
   margin-top: 70px; 
}


.fadein{
    opacity:0;
}


#glacierimg{
    margin-top: 70px;
}

#penguinimg{
    margin: 70px;

}




.icecaps{
    padding-top:100px;
}


#continuebutton{
    margin-top: 100px;

    margin-bottom: 250px;
    text-align: center;
    align-content: center;
    align-items: center;
    width: 150px;
    border: 1px solid #466995;
    border-radius: 12px;
    box-shadow: 0 1px 1px 0 #1c2a5a;
    
}


/* choices page styling*/
.container{

}

#penguin-info{
    align-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
}


.row{

}

.col-sm-4{
    border: 1px solid #466995;
    border-radius: 12px;
    box-shadow: 0 1px 1px 0 #1c2a5a;
}

.col-sm-4:hover{
    box-shadow: 0 5px 5px 0 #000000;
}


/* choices page styling*/

#swimpenguin{
    margin: 80px;
}

.penguin-choices{
    margin: 100px;
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-gap: 10px;
    margin-top: 0px;
    justify-items: center;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    grid-auto-flow: row; 
    padding-bottom: 100px;
}


#intro {
	width:80%;
	left:50%;
	top:1em;
	margin-left:-40%;
    padding-top: 30px;
	padding:2em;
	text-align:center;

}

#glacierimg{
    margin-left: 0%;
    left:0%;
    padding:0;
    
}

#transform {
	width:70%;
	left:50%;
	top:20%;
	margin-left:-35%;
	text-align:center;
	.transform-origin(50%, 50%);
}

#properties {
	width:100%;
	height:100%;
	padding-top:10%;
	text-align:center;

}

#easing_wrapper {
	width:100%;
	height:100%;
}

#easing {
	top:10%;
	width:50%;
	z-index:101;
}

.drop {
	background:#09f;
	font-weight:bold;
	padding:1em;
}

#download {
	width:80%;
	left:10%;
	height:80%;
	padding:3em;
	border:0 solid #222;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/*icon styling*/
.icongrid{
    color: grey;
}

#icon-fish:hover{
    color: red;
}

#icon-bottle:hover{
    color: red;   
}

#icon-temp:hover{
    color: red;   
}

i{
    padding-bottom: 80px;
}


.hideme
{
    opacity:0;
}



